@use "../abstracts/variables";

.detailsPage{
    padding: 1rem;
}

#detailsPage__artist-name {
    color: variables.$boulder;
    font-size: 15px;
}

.detailsPage__image-container, #detailsPage__image {
    max-width: 100%;
}

#detailsPage__image {
    display: block;
}

.detailsPage__painting-info {
    background-color: white;
    width: 85%;
    height: 120px;
    max-width: 500px; // was 600px before
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        padding-bottom: 0.5rem;
    }
}

