@use "../abstracts/variables" as variables;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-bottom: variables.$mercury solid 1px;
    height: variables.$navbar-height;
}

.navbar__logo {
    width: 113px;
    object-fit: contain;
}

.navbar__slideshow--start {
    font-size: 15px;
    font-weight: bold;
    color: variables.$primary-text-color;
    transition: color 0.3s ease;
    @media (hover: hover) {
        &:hover{
            color: black;
            cursor: pointer;
        }
    }
}