@use "../abstracts/variables";

#progress-bar {
    position: relative;
    display: flex;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .progress-bar--button{
        transition: all 0.2s ease-in-out;
        stroke: black;
        &:hover {
            stroke: variables.$boulder;
            cursor: pointer;            
        }
    }
}

.progress-bar__button-container {
    display: flex;
    gap: 0 1rem;
}
#progress-bar__painting {
    font-size: 14px;
    padding: 0.5rem 0;
}

#progress-bar__artist {
    font-size: 10px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    stroke: variables.$mercury;
}