// Color Variables
$black: #000000;
$boulder: #7D7D7D;
$concrete: #F3F3F3;
$mercury: #E5E5E5;
$white: #FFFFFF;

// Color Configs
$primary-color: $white;
$primary-text-color: $boulder;
$secondary-color: $black;